h2, h4, p {
    text-align: center;
    font-family: "KaiTi";
}

body {
    background-image:url(../img/background.jpg); /* https://bing.ioliu.cn/v1/rand */
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed
}

td {
    border: 1px solid transparent !important;
}

.icos {
    width: 32px;;
}

.col-md-4 {
    margin-top: 3%;
}

.card {
    background-color: #ffffffa8;
}
.nav-link {
    color: black;
}

#t_fixed {
    position: fixed;
    right: 10px;
    /*bottom: -85px;*/
    bottom: 10px;
    transition: bottom ease .3s;
    z-index: 3;
    font-size: 18px;
    text-align: center;
    line-height: 36px;
}

#t_fixed a.btn {
    width: 36px;
    height: 36px;
    display: block;
    text-decoration: none;
    color: #999;
    border-radius: 5px;
}

#t_fixed a.btn:hover {
    background: #F5F5F5;
}

#t_fixed a.btn.wechat:hover {
    color: #2ECC71;
}

#t_fixed a.btn.qq-qun:hover {
    color: #3498DB;
}

#t_fixed a.btn.weibo:hover {
    color: #E74C3C;
}

#t_fixed a.btn.github:hover {
    color: #2C3E50;
}

#t_fixed a.btn.gotop:hover {
    color: #34495E;
}

.site-footer {
    position: relative;
    border-top: 30px;
}




.logos_lists dl {
    float: left;
    position: relative;
    padding: 10px 14px;
    margin: 10px;
    background: #fff;
    border: 1px solid #ededed;
    border-radius: 5px;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s
  }

  .logos_lists dl:hover {
    border-color: rgba(82, 168, 236, .8);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6)
  }

  .logos_lists dl dt img {
    width: 108px
  }

  .logos_lists dl dd {
    display: none;
  }